{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "libs/uikit/css/uikit.min.css" %}"/>
{% endblock %}

{% block title %}
    Order {{ order.id }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs uk-padding-small">
        <a class="uk-padding-small" href="{% url "admin:index" %}">Home</a> &rsaquo;
        <a class="uk-padding-small" href="{% url "admin:orders_order_changelist" %}">Orders</a> &rsaquo;
        <a class="uk-padding-small" href="{% url "admin:orders_order_change" order.id %}">Order {{ order.id }}</a>
        &rsaquo; <span class="uk-padding-small">Detailed Info</span>
    </div>
{% endblock %}

{% block content %}
    <h3 class="uk-heading-divider uk-padding-small">Order {{ order.id }}</h3>

    <a class="uk-button uk-button-default uk-button-small" href="#" onclick="window.print();">Print</a>

    <table class="uk-table uk-table-striped uk-table-small">
        <tr>
            <th>Created at</th>
            <td>{{ order.created }}</td>
        </tr>
        <tr>
            <th>Client</th>
            <td>{{ order.first_name }} {{ order.last_name }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ order.address }}, {{ order.postal_code }} {{ order.city }}</td>
        </tr>
        <tr>
            <th>Total Price</th>
            <td>{{ order.get_total_cost }} $</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{% if order.paid %}Paid{% else %}Waiting for payment{% endif %}</td>
        </tr>
    </table>

    <div class="module">
        <div class="tabular inline-related last-related">
            <table class="uk-table uk-table-small uk-table-divider">
                <h2>Ordered Products</h2>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Qty.</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for item in order.items.all %}
                    <tr class="row{% cycle "1" "2" %}">
                        <td>{{ item.product.name }}</td>
                        <td class="num">{{ item.price }} zł</td>
                        <td class="num">{{ item.quantity }}</td>
                        <td class="num">{{ item.get_cost }} zł</td>
                    </tr>
                {% endfor %}
                <tr class="total uk-background-secondary uk-text-warning">
                    <td colspan="3">Total cost</td>
                    <td class="num">{{ order.get_total_cost }} $</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
