{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="{% static 'libs/materialize/css/materialize.min.css' %}"/>
    {% block additional_css %}{% endblock %}
    <title>{% block title %}Django E-commerce{% endblock %}</title>
</head>
<body>
{% block content %}

{% endblock %}
{% block js_code %}
    <!-- Materialize JS -->
    <script src="{% static 'libs/materialize/js/materialize.min.js' %}"></script>
{% endblock %}
</body>
</html>