{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- UIKIT CSS -->
    <link rel="stylesheet" href="{% static 'libs/uikit/css/uikit.min.css' %}"/>
    <!-- UIKIT JS -->
    <script src="{% static 'libs/uikit/js/uikit.min.js' %}"></script>
    <script src="{% static 'libs/uikit/js/uikit-icons.js' %}"></script>
    {% block additional_css %}{% endblock %}
    <title>{% block title %}Django E-commerce{% endblock %}</title>
</head>
<body>
<header class="uk-navbar-container uk-padding-small uk-padding-remove-top uk-padding-remove-bottom" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="{% url "shop:product_list" %}">TEA SHOP</a>
    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">

            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    <li class="uk-active">
                        <a href="{% url "cart:cart_detail" %}">
                            Cart <span class="uk-badge uk-margin-small-left">{{ total_items }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endwith %}
        </ul>

    </div>
</header>
<div class="uk-grid uk-flex-center" uk-grid>
    {% block content %}
    {% endblock %}
</div>

{% block js_code %}
{% endblock %}
</body>
</html>